<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../cdn.ejs')%>
  </head>
  <body>
    <div class="row m-0 p-5">
      <div class="col-md-6 m-0 px-4 py-3 text-light m-auto bg-dark d-flex justify-content-between">
        <b>Welcome, Admin</b>
        <div class="">
          <a href="/admin" class="text-decoration-none text-light mx-2">Users</a>
          <a href="/admin/collections" class="text-decoration-none text-light mx-2"
            >Collections</a
          >
          <a href="/admin/profile"><i class="bi bi-person-fill text-light fw-bold fs-medium"></i></a>
          <a href="/admin/logout"><button class="btn btn-primary btn-sm">Logout</button></a>
          
        </div>
      </div>
    </div>
  </body>
</html>
