<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessories - Women</title>
    <%- include('./navbar.ejs')%>
</head>
<body>
    
    <div class="row m-0 py-3 text-center" style="background-color: #f5f3f2">
        <h6 class="fw-normal text-dark">Accessories</h6>
    </div>

    <%- include('./footer.ejs')%>
</body>
</html>