<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../cdn.ejs')%>
</head>
<body>
    <footer
    class="text-center container-fluid m-0 p-2"
    style="background-color: #e4e4e4"
  >
    <p class="my-3">
      <a href="" class="text-decoration-none text-secondary mx-2">Home</a> <a href="" class="text-decoration-none text-secondary mx-2">Women's Fashion</a>
      <a href="" class="text-decoration-none text-secondary mx-2">Accessories</a> <a href="" class="text-decoration-none text-secondary mx-2">Lookbook</a>
      <a href="" class="text-decoration-none text-secondary mx-2">Customer Care</a> <a href="" class="text-decoration-none text-secondary mx-2">Profile</a>
    </p>
    <p class="text-secondary mt-3" style="line-height: 0%;">All rights are reserved </p>
    <p class="text-success fw-bold" style="font-size: small;">SMART FASION</p>
  </footer>
</body>
</html>