<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Fashion</title>
    <%- include('./navbar.ejs')%>
  </head>
  <body>
    <!-- home page -->

    <div class="row m-0 p-0" style="height: 60vh">
      <div class="col-md-8 col-12 m-auto px-4 h-100">
        <div class="row m-0 p-0 h-100">
          <div class="col-md-6 col-12 p-0 m-0 h-100">
            <img src="/images/home.jpg" height="100%" width="100%" alt="" />
          </div>
          <div
            class="col-md-6 col-12 p-5 d-flex justify-content-center align-items-center"
            style="background-color: #ffe9e3"
          >
            <div>
              <h4 class="text-dark text-center fw-normal">SULTRY & SMART</h4>
              <h6 class="text-center fw-bold my-3">Women's Fashion</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 p-0" style="background-color: #d4e4e0; height: 60vh">
      <div class="col-md-8 col-12 m-auto px-4 h-100">
        <div class="row m-0 p-0 h-100">
          <div
            class="col-md-6 col-12 p-5 d-flex justify-content-center align-items-center"
            style="background-color: #a3c7bd"
          >
            <div>
              <h4 class="text-light text-center fw-normal">ELEGANT & SLICK</h4>
              <h6 class="text-center text-light fw-bold my-3">Shop Now</h6>
            </div>
          </div>

          <div class="col-md-6 col-12 p-0 m-0 h-100">
            <img src="/images/home1.jpg" height="100%" width="100%" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- new arrivals -->
    <h4 class="text-center fw-normal mt-5 mb-3">NEW ARRIVALS</h4>
    <div class="row m-0 p-0" style="height: 80vh">
      <div class="col-md-4 p-5" style="height: 80vh">
        <img src="/images/new1.avif" height="100%" width="100%" alt="" />
      </div>
      <div class="col-md-4 p-5" style="height: 80vh">
        <img src="/images/new2.avif" height="100%" width="100%" alt="" />
      </div>
      <div class="col-md-4 p-5" style="height: 80vh">
        <img src="/images/new3.jpg" height="100%" width="100%" alt="" />
      </div>
    </div>

    <div class="row m-0 p-0 py-3">
      <div class="col-md-6 col-12 m-auto text-center">
        <h5 class="text-center fw-normal">GET ON THE LIST</h5>
        <b class="fw-normal"
          >and be the first to shop new arrivals and exclusive promotions</b
        >
        <form action="" class="text-center">
          <input
            type="email"
            name="email"
            placeholder="enter your email address"
            class="form-control my-4"
            required
          />
          <button class="btn" style="background-color: #a3c7bd">Submit</button>
        </form>
      </div>
    </div>

    <div class="container-fluid m-0 my-5 p-0">
      <img src="/images/last.jpg" height="100%" width="100%" alt="" />
    </div>

   
    <%- include('./footer.ejs')%>
  </body>
</html>
